{% extends "main/index.html" %}
{% block extra-head %}
{{ block.super }}
	<style>
		
		.profile_photo{display:block;width: 150px; height: 200px;float:left}
		.profile_basic_info{display:block;width: 350px; height: 200px;float:left}
	</style>
{%endblock%}
{% block main-container %}
<h2> Welcome {{user.first_name}} {{user.last_name}}<a class="edit_account_link" href="{% url edit_profile_page %}" ></a></h2>
<div class="aux-content-widget-2">
	<div class="profile_photo">
	{# User Profile Pic #}
	<img src="{{MEDIA_URL}}{{profile.profile_pic}}">
	</div>
	<div class="profile_basic_info">
	{# Put All user Basic information Such as Recent visited Movie , Friend List , Last Reviewd Movie , Friend Last Reviewed movie etc#}
	</div>
</div>
{% endblock %}
